body{
    width: 100%;
    height: 100vh;
    background-color: #8FB3E2;
    font-family: 'Inter', sans-serif;
     min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html, body {
    overflow-x: hidden;
}
@keyframes entrada-suave {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes entrada-suave {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/*variables*/
:root{
    --background-color: white;
    --text-titlr-color: #053D4E;
    --text-color: #32363B;
    --icon-color: #32363B;
    --icon-menu-color: #707780;
    --menu-color: #707780;

    --text-selected-color: #355CC0;
    --background-select: #EBF0FF;
    --background-hover: #F7F9FA;

    --border-color: #E6E9ED;

    --sombra: 0px 4px 10px rgba(0,0,0,0.3); /* sombra general */

    --color-boton: #211f99; /* color base de los botones */
    --color-boton-hover: rgb(97, 89, 221); /* color cuando pasas el mouse */
}
/* variables */
:root{
    --background-color: white;
    --text-titlr-color: #053D4E;
    --text-color: #32363B;
    --icon-color: #32363B;
    --icon-menu-color: #707780;
    --menu-color: #707780;

    --text-selected-color: #355CC0;
    --background-select: #EBF0FF;
    --background-hover: #F7F9FA;

    --border-color: #E6E9ED;
}

/* ===================== Barra de navegacion ===================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 32px 7px 20px; /* 0.45rem 2rem 0.45rem 1.27rem */
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    background-color: var(--background-color);
    top: 0;
    left: 0;
    animation: entrada-suave 0.6s ease-out;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px; /* 1.4rem */
}

.menu-container{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu{
    width: 24px; /* 1.5rem */
    height: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu div{
    width: 100%;
    height: 2px; /* 0.15rem */
    background-color: var(--menu-color);
    transition: all 0.3s ease;
}

/* animación hamburguesa */
.menu.active div:first-child{
    transform: rotate(-45deg) translate(-4px, 6px);
}

.menu.active div:nth-child(2){
    opacity: 0;
}

.menu.active div:last-child{
    transform: rotate(45deg) translate(-4px, -6px);
}

/* BRAND */
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* 0.6rem */
}

.brand .logo{
    width: 50px; /* 1.7rem */
}

.brand .name{
    font-size: 24px; /* 1.5rem */
    font-weight: 900;
    color: var(--text-titlr-color);
}

/* RIGHT */
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px; /* 1.6rem */
}

.right a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; /* 0.5rem */
    transition: background-color 0.2s ease;
}

.right a:hover{
    background-color: var(--background-hover);
}

.right img{
    width: 24px; /* 1.5rem */
    margin: 8px; /* 0.5rem */
}

.right .user{
    width: 34px; /* 2.1rem */
    border-radius: 50%;
}

/* SIDEBAR */
.sidebar{
    margin-top: 64px; /* 4rem */
    width: 64px; /* 4rem */
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 18px 0; /* 1.1rem */
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    background-color: var(--background-color);
    transition: width 0.5s ease;
    animation: entrada-suave 0.8s ease-out;
}

.sidebar.active{
    width: 300px; /* 18.75rem */
}

.sidebar a{
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 14px; /* 0.9rem */
    padding: 14px 11px; /* 0.9rem 0.7rem */
    text-decoration: none;
    margin: 0 8px; /* 0.5rem */
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}

.sidebar a:hover{
    background-color: var(--background-hover);
}

.sidebar .selected{
    color: var(--text-selected-color);
    background-color: var(--background-select);
}

.sidebar img{
    width: 26px; /* 1.6rem */
}
/* BOTON CERRAR */
.cerrar{
    display: none;
    font-size: 25px;
    padding: 15px;
    cursor: pointer;
    color: var(--text-color);
}
/* ===================== CELULAR ===================== */
@media (min-width: 768px){
    /* QUITA EL ESPACIO DEL SIDEBAR */
    #frase,
    .contenedor-index,
    .text-2,
    .linea,
    .formulario-ingresos,
    h1,
    .container-nuevo-gasto,
    .container-ingreso-total,
    .container-registro-gastos,
    .grafica-container,
    footer,
    .contenedor-nosotros,
    .contenedor-reporte,
    .contenedor-contacto,
    .contenedor-acceder,
    .contenedor-iniciarSesion,
    .container-consejos {
        
        margin-left: 64px;
    }
}
@media (max-width: 768px){
    .container-registro-gastos h2{
        margin-right: 64px;
    }
    .registro-gastos{
        margin-right: 64px;
    }

    /* OCULTA SIDEBAR */
    .sidebar{
        width: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0;
        overflow: hidden;
        background-color: white;
        transition: all 0.4s ease;
    }

    /* CUANDO SE ABRE */
    .sidebar.active{
        width: 250px;
        box-shadow: 5px 0 15px rgba(0,0,0,0.2);
    }

    /* MUESTRA LA TACHITA */
    .cerrar{
        display: block;
    }

    /* EVITA QUE SE AMONTONE */
    header{
        padding: 10px 15px;
    }
}
/* ===================== RESPONSIVE ===================== */
@media (max-width: 500px){
    .nuevo-gasto form input{
      width: auto;
    }
    .container-nuevo-gasto .nuevo-gasto form{
        flex-direction: column;
    }
    .nuevo-gasto{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nuevo-gasto input{
    width: 229px;
    }
    .agregar{
        padding: 5px;
    }
    .container-ingreso-total {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .container-ingreso-total .ingreso-total{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .registro{
        margin-top: 100px;
    }
    .table-container th,
    .table-container td {
        padding: 8px;
        font-size: 12px;
    }
    .grafica-container {
    width: 400px;
    }
}
@media(min-width: 600px){
    .graficas2{
        display: none;
    }
}
/*========================= footer ================================*/
footer{
    margin-top: auto;
    background-color: white; /*color del fondo asignado*/
    height: 50px; /*es la altura que le asignamos a el footer*/
    display: flex; /*activa el flex*/
    justify-content: center; /*lo centa horizontalmente*/
    align-items: center; /*centra horizontalmente*/

}
footer nav {
    background-color: #211f99; /*le asignamos el color de fondo del boton o del <a>*/
    width: 125px; /*es el anchor que le asignamos a el boton*/
    height: 24px; /*es la altura que le asignamos al boton*/
    display: flex; /*activa el flex*/
    justify-content: center; /*centra horizontalmente*/
    align-items: center; /*centra verticalmente*/
    border-radius: 10px; /*redondea las esquinas*/
    cursor: pointer;/*cuando el cursor pasa por arriba del boton cambia a una mano*/
    transition: background-color 0.3s, transform 0.3s, color 0.3s; /*hace el efecto de suabisar el boton al sobre salir*/
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    /* box-shadow → propiedad que agrega una sombra a un elemento (como botones, cajas, imágenes) */
    /* 0px → desplazamiento horizontal de la sombra (no se mueve a la izquierda ni derecha) */
    /* 4px → desplazamiento vertical de la sombra (la sombra baja 4 píxeles) */
    /* 10px → nivel de desenfoque de la sombra (qué tan difuminada se ve) */
    /* rgba(0,0,0,0.3) → 
    color de la sombra*/
}
footer nav a{
    text-decoration: none; /*quita el subrayado*/
    color: white; /*color que le asignamos al texto*/
    font-family: Arial, Helvetica, sans-serif; /*es el tipo de texto que le asignamos*/
}
footer nav:hover{
    background-color: rgb(97, 89, 221); /*al color qe se cambia al pasar por arriba*/
    cursor: pointer; /*el cursor se comvierte al pasar por arriba de la opcion*/
    transform: scale(1.1); /*agranda el boton*/
    color: white; /*color del texto al que se cambia al pasar por la opcion*/
}
/*===================== Pagina de nosotros ==================*/

.contenedor-nosotros article{
    margin-top: 64px;
    border: rgb(151, 147, 147) 1px solid; /*crea un borde solido*/
    background-color: white; /*color del fondo del recuadro*/
    width: 400px; /*el ancho asignado*/
    height: 410px; /*la altura asignada*/
    border-radius: 5px; /*redondea las esquinas del recuadro*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    /* box-shadow → propiedad que agrega una sombra a un elemento (como botones, cajas, imágenes) */
    /* 0px → desplazamiento horizontal de la sombra (no se mueve a la izquierda ni derecha) */
    /* 4px → desplazamiento vertical de la sombra (la sombra baja 4 píxeles) */
    /* 10px → nivel de desenfoque de la sombra (qué tan difuminada se ve) */
    /* rgba(0,0,0,0.3) → color de la sombra*/
}
.contenedor-nosotros{
    margin-top: 64px;
    display: flex; /*activa del flex*/
    justify-content: center; /*centra a la pagina web el contenedor*/
} 
.contenedor-nosotros article h1{
  margin-right: 30px;
  margin-top: 0;
}
.contenedor-nosotros h3{
    text-align: center;
}
.integrantes{
    margin-top: 64px; /*deja un espaciado en la parde de arriba*/
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto; /*altura asignada a el texto*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.integrantes div{
    text-align: center; /*centra todo el texto*/
    width: 80%; /*es el ancho asignado a el div de armando*/
    height: auto; /*se alarga automaticamente se adapta al contenido*/
    padding: 40px; /* deja un espaciado entre los textos*/
    background-color: white;/*color que le asignamos a los div*/
    border-radius: 20px 0px;
    box-shadow: var(--sombra);
    border: var(--radio);
}
/*===================== Modal de confirmacion ========================*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 15000; /* Asegura que el modal esté por encima de otros elementos */
}

.modal-contenido {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal-contenido button {
    margin-top: 10px;
    padding: 8px 15px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}