body{
    width: 100%;
    height: 100vh;
    background-color: #8FB3E2;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body {
    overflow-x: hidden;
}

@keyframes entradaSuave {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorTextoSeleccionado: #355CC0;
    --fondoSeleccionado: #EBF0FF;
    --colorFondo: white;
    --colorTituloTexto: #053D4E;
    --colorTexto: #32363B;
    --colorIcono: #32363B;
    --colorIconoMenu: #707780;
    --colorMenu: #707780;

    --fondoHover: #F7F9FA;

    --colorBorde: #E6E9ED;

    --sombraGeneral: 0px 4px 10px rgba(0,0,0,0.3);

    --colorBoton: #211f99;
    --colorBotonHover: rgb(211, 211, 223);
}

.barraSuperior{
    width: 100%;
    height: 70px;
    padding: 0 25px;
    background-color: var(--colorFondo);
    border-bottom: 1px solid var(--colorBorde);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.botonMenu{
    width: 28px;
    height: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botonMenu span{
    width: 100%;
    height: 3px;
    background-color: var(--colorMenu);
    border-radius: 10px;
    transition: 0.3s;
}

.marcaLogo{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.imagenLogo{
    width: 50px;
}

.texto{
    font-size: 24px;
    font-weight: bold;
    color: var(--colorTexto);
}

.iconoUsuario{
    width: 35px;
}

.menuLateral{
    position: fixed;
    top: 70px; /* debajo de la barra */
    left: -500px; /* oculto fuera de pantalla */
    width: 350px;
    height: 100%;
    background-color: var(--colorFondo);
    padding: 25px;
    transition: left 0.3s ease; /* animación */
}
.active{
    left: 0;
}
.menuLateral img{
    height: 40px;
}
.menuLateral a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--colorTexto);
    width: 350px;
    gap: 15px;
    transition: background-color 0.3s ease;
}
.menuLateral a:hover{
    background-color: var(--colorBotonHover);
    border-radius: 5px;
}
.menuLateral li{
    display: flex;
    align-items: center;
    padding: 5px;
}

.menuLateral nav{
    padding: 5px;
}

/* ================= RESPONSIVE ================= */

@media (min-width: 768px){

    main{
        margin-left: 64px;
    }
}

@media (max-width: 768px){

    .tituloAhorro{
        margin-left: 0;
        font-size: 32px;
    }

    main{
        margin-left: 0;
        padding: 20px;
    }

    .tarjetaAhorro{
        padding: 20px;
    }

    .tarjetaAhorro h2{
        font-size: 22px;
    }
}

/* ================= CONTENIDO ================= */

main{
    margin-top: 70px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 25px;
}

.tituloAhorro{
    margin-top: 100px;
    margin-left: 60px;
    text-align: center;
    font-size: 42px;
    color: #1e3a8a;
    font-weight: 700;
    animation: entradaSuave 0.8s ease;
}

.tarjetaAhorro{
    background: #ffffff;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: entradaSuave 0.8s ease;
}

.tarjetaAhorro:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,.15);
}

.tarjetaAhorro h2{
    margin-bottom: 15px;
    color: #355CC0;
    font-size: 26px;
}

.tarjetaAhorro h3{
    margin-top: 20px;
    margin-bottom: 12px;
    color: #1e3a8a;
    font-size: 20px;
}

.tarjetaAhorro p{
    color: #444;
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}

.tarjetaAhorro ul{
    margin-left: 20px;
    margin-top: 10px;
}

.tarjetaAhorro ul li{
    margin-bottom: 10px;
    color: #333;
    font-size: 15px;
}
/*======================== Footer ===========================*/
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--colorFondo);
}
footer main{
    height: 50px;
    width: 80%;
    display: flex;
    gap: 150px;
    padding: 5px;
}
.izquierda{
    flex: 1;
}

.derecha{
    flex: 1;
}
.izquierda h3{
    font-size: 13px;
}
.izquierda p{
    font-size: 10px;
}
.derecha h3{
    font-size: 13px;
    text-align: center;
}
.derecha p{
    font-size: 10px;
    text-align: center;
}